@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url("https://images.pexels.com/photos/417273/pexels-photo-417273.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-position: center;
  background-size: cover;
}

.bg-layanan {
  background-image: url("https://images.pexels.com/photos/2684383/pexels-photo-2684383.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-position: center;
  background-size: cover;
}
